{{- if eq .chezmoi.os "windows" -}}
# Installs packages via Scoop on Windows machines.

#Requires -Version 5.1
#Requires -RunAsAdministrator

Write-Host "[chezmoi] Installing Scoop packages..."

scoop install git chezmoi

Write-Host "[chezmoi] Scoop packages installed."
{{ end -}}
