#!/bin/bash
# Ce script installe les paquets DNF sur les machines Fedora Standard

{{ if eq .machine.packageManager "dnf" -}}
set -eufo pipefail

echo "Installing DNF packages..."
# sudo dnf install -y \
#  votre-paquet-1 \
#  votre-paquet-2

echo "DNF packages installation placeholder."
{{ end -}}
