.DS_Store
README.md
.private/Brewfile

{{/* Ignore bash configuration on Fedora Atomic and toolbox (shares home with host) */}}
{{- if or (lookPath "rpm-ostree") (stat "/.toolboxenv") }}
.bashrc
.bash_profile
.bash/
{{- end }}

{{/* Ignore 1Password-dependent files when op CLI is not available */}}
{{- if not (lookPath "op") }}
.ssh/config
{{- end }}
