{{- if lookPath "age" }}
encryption = "age"
{{- end }}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = true
    commitMessageTemplateFile = ".commit_message.tmpl"

[data]
    github_user       = "jsoyer"
    xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
    name = "Jerome Soyer"
    email = "jeromesoyer@gmail.com"
    work_email = "jsoyer@varonis.com"

{{- if lookPath "age" }}

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
{{-   if lookPath "op" }}
    recipient = "{{ onepasswordRead "op://Private/Age Encryption Key - Chezmoi/public key" }}"
{{-   else }}
    recipient = "{{ promptStringOnce . "age_recipient" "age public key (age1...)" }}"
{{-   end }}
{{- end }}

[edit]
    command = "nvim"

{{- if lookPath "delta" }}
[diff]
    command = "delta"
    pager = "delta"
{{- end }}

[merge]
    command = "nvim"
    args = [
      "{{ `{{ .Destination }}` }}",
      "{{ `{{ .Source }}` }}",
      "{{ `{{ .Target }}` }}",
    ]
