{{- if and (ne .chezmoi.os "windows") (not (lookPath "rpm-ostree")) -}}
[".oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh.git"
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"

[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"
{{- end }}

{{- $mp := index . "machine_profile" -}}
{{- if or (eq $mp "mac-personal") (eq $mp "ubuntu-desktop") (eq $mp "fedora-desktop") (eq $mp "arch-desktop") (eq $mp "omarchy") }}
[".wallpapers"]
    type = "git-repo"
    url = "https://github.com/orangci/walls-catppuccin-mocha.git"
    refreshPeriod = "168h"
{{- end }}
