.DS_Store
README.md
.private/Brewfile

{{/* Ignore full bash configuration on Fedora Atomic host, but allow minimal .bashrc */}}
{{- if lookPath "rpm-ostree" }}
.bash_profile
.bash/
{{- end }}

{{/* In toolbox, only ignore .bashrc and .bash/ but allow .bash_profile for env vars */}}
{{- if stat "/.toolboxenv" }}
.bashrc
.bash/
{{- end }}

{{/* Ignore 1Password-dependent files when op CLI is not available */}}
{{- if not (lookPath "op") }}
.ssh/config
{{- end }}
