[git]
    autoAdd = true
    autoCommit = true
    autoPush = true
    commitMessageTemplateFile = ".commit_message.tmpl"

[data]
    github_user       = "jsoyer"
    xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
    name = "Jerome Soyer"
    email = "jeromesoyer@gmail.com"

[edit]
    command = "nvim"

[diff]
    command = "delta"
    pager = "delta"
    args = [
      "{{ `{{ .Destination }}` }}",
      "{{ `{{ .Target }}` }}",
    ]

[merge]
    command = "nvim"
    args = [
      "-d",
      "{{ `{{ .Destination }}` }}",
      "{{ `{{ .Source }}` }}",
      "{{ `{{ .Target }}` }}",
    ]

# ===============================================================
# Machine-Specific Profiles
# ===============================================================
# Determines the machine profile based on its hostname.
# This is used in templates to apply specific settings.
{{ $hostname := .chezmoi.hostname -}}
{{ if eq $hostname "jsoyer-macOS" -}}
[data.machine]
  profile = "mac-pro"
  packageManager = "brew"
{{ else if eq $hostname "fedora-atomic" -}}
[data.machine]
  profile = "linux-atomic"
  packageManager = "flatpak"
{{ else if eq $hostname "fedora" -}}
[data.machine]
  profile = "linux-standard"
  packageManager = "dnf"
{{ else if contains "rpi" .chezmoi.kernel.osrelease -}}
[data.machine]
  profile = "rpi"
  packageManager = "apt"
{{ else if eq .chezmoi.os "windows" -}}
[data.machine]
  profile = "windows"
  packageManager = "scoop"
{{ else -}}
[data.machine]
  profile = "mac-personal"
  packageManager = "brew"
{{ end -}}
