{{- if stat "/.toolboxenv" -}}
# Minimal .bash_profile for toolbox - source .profile for env vars
[ -f ~/.profile ] && . ~/.profile
[ -f ~/.bashrc ] && . ~/.bashrc
{{- else if eq .chezmoi.os "darwin" -}}
# macOS bash_profile
[ -f ~/.profile ] && . ~/.profile

# Homebrew (must be before .bashrc so starship and other brew tools are in PATH)
for _brew in /opt/homebrew/bin/brew /usr/local/bin/brew; do
    if [ -x "$_brew" ]; then
        eval "$("$_brew" shellenv)"
        break
    fi
done
unset _brew

[ -f ~/.bashrc ] && . ~/.bashrc
{{- else -}}
# Standard Linux .bash_profile
[ -f ~/.profile ] && . ~/.profile
[ -f ~/.bashrc ] && . ~/.bashrc
{{- end }}
