# Fichier Brewfile principal
# Assemble les listes de paquets en fonction du profil de la machine.

# 1. Inclure les paquets communs à tous les Macs
{{ include "dot_private/Brewfile_common" | trim }}

# 2. Inclure les paquets spécifiques au profil
{{ if eq .machine.profile "mac-pro" -}}
{{ include "dot_private/Brewfile_pro" | trim }}
{{ else -}}
{{ include "dot_private/Brewfile_personal" | trim }}
{{ end -}}
