model = "gpt-5-codex"
model_reasoning_effort = "medium"
personality = "pragmatic"

[projects."{{ .chezmoi.homeDir }}"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Downloads"]
trust_level = "trusted"
