{{- if ne .chezmoi.os "darwin" -}}
# Ignore macOS-only options on Linux
IgnoreUnknown UseKeychain
{{ end -}}
{{- $opConfigFile := joinPath .chezmoi.homeDir ".config" "op" "config" -}}
{{- if and (lookPath "op") (stat $opConfigFile) -}}
{{- onepasswordDocument "wf34z662n2u3kn5jhrmrmo3o4u" -}}
{{- end -}}