# Alacritty Configuration - Basé sur Ghostty et WezTerm
# Theme: Catppuccin Mocha

[terminal.shell]
{{ if eq .chezmoi.os "darwin" -}}
program = "/opt/homebrew/bin/bash"
{{ else -}}
program = "/usr/bin/bash"
{{ end -}}
args = ["-l"]

[env]
TERM = "xterm-256color"

[window]
padding = { x = 12, y = 12 }
dynamic_padding = true
decorations = "buttonless"
opacity = 0.9
blur = true

[scrolling]
history = 10000

[font]
size = 12.0

[font.normal]
family = "JetBrainsMono Nerd Font"

[selection]
save_to_clipboard = true

[cursor]
style = { shape = "Block" }

[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"
